.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1000px) {
  .movie-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .movie-list {
    grid-template-columns: 1fr;
  }
}
